language: python
sudo: required
dist: xenial
python:
  - 3.5
  - 3.6
  - 3.7

env:
  - PIPENV_CACHE_DIR=$HOME/.pipenv/cache

install: make

script:
  - make lint
  - make coverage
  - make docs

cache:
  directories:
    - $PIPENV_CACHE_DIR
