[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
tablib = "*"


[dev-packages]

pytest = "*"
"autopep8" = "*"
mypy = "*"
"flake8" = "*"
tox-pipenv = "*"
codecov = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
