[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tablib = "*"
twine = "*"

[dev-packages]
pytest = "*"
"autopep8" = "*"
mypy = "*"
tox-pipenv = "*"
codecov = "*"
pytest-cov = "*"
pylama = "*"
eradicate = "*"
mkdocs = "*"
responses = "*"
